<div class="container" >
    <h3> Request IT</h3>
    <button class="w3-button w3-blue" style="width:180px" data-toggle="modal" data-target="#myModal" > Creat new request</button>
    
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">      
            <div class="modal-content">
    
                <div class=" modal-header w3-container w3-red">
                        <h3> Add New Request </h3>
                </div>
                <div class="modal-body">
                    <form  class="w3-container" >
                        <div class="form-group">
                            <label> Tên công việc:</label>
                            <input type="text" class="form-control" ng-model="ticket.subject">
                        </div>
                       

                      
                        <div class="form-group">
                            <div style="display:inline-block">
                                <label> Mức độ ưu tiên</label>
                                <select ng-model="ticket.priority"  class="form-control">
                                        <option value= 1 > {{ 1 | toPriority}}</option>
                                        <option value= 2 > {{ 2 | toPriority}}</option>
                                        <option value= 3 > {{ 3 | toPriority}}</option>
                                        <option value= 4 > {{ 4 | toPriority}}</option>
                                </select>
                            </div>

                            <span style="display:inline-block; float:right">
                                <label> Bộ phận IT </label>
                                <select ng-model="ticket.team_id" class="form-control">
                                    <option value= 1 > HaNoi-IT</option>
                                    <option value= 2 > DaNang-IT</option>
                                </select>
                            </span>
                        </div>

                        <span class="form-group" >
                                <label> Ngày hết hạn </label>
                                <input type="datetime-local" class="form-control" ng-model="ticket.deadline" placeholder="yyyy-MM-ddTHH:mm:ss" required>
                        </span>


                        
                        <label>Người liên quan</label>
                        
                        <div class="form-control" >
                            <div style="display:inline-block"> 
                                <ul>
                                    <span class="label label-success" style="display:inline-block;" ng-repeat="related in ticket.related_user" ng-click="removeRelatedUser( related.id )"> {{ related.user_name }} ;</span>
                                </ul>
                            </div>

                            
                            <div class="dropdown"  style="display:inline-block" >
                                    <input style="outline:none; background:transparent;border:none"   data-toggle="dropdown" ng-model="inputName" ng-keyup="searchName(inputName)">
                                    <div class="dropdown-menu" ng-show="user_recommend.length > 0">
                                          <li ng-repeat="u in user_recommend" ng-click="addRelatedUser(u)"><a> {{u.user_name }} </a></li>
                                    </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea type="text" class="form-control form-control-success" ng-model="ticket.content"></textarea>
                        </div>
                        <input type="file" ng-model="ticket.image" base-sixty-four-input>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="w3-button w3-border w3-border-blue" data-dismiss="modal"> Cancle </button>        
                    <button class="w3-button w3-border w3-border-blue" data-dismiss="modal" ng-click="save()"> Save </button>
                </div>
            </div>   
        </div>
    </div>

</div>