<div class="container" style="margin-top:10px">
    <a class="w3-button w3-border w3-border-blue" style="height:40px;width:180px; text-decoration: none;text-align:left"data-toggle="collapse" href="#options-menu{{$ctrl.name}}"><h6> {{$ctrl.name | VietNamTrans}}  </h6> </a>
    <div class="row collapse" id="options-menu{{$ctrl.name}}" style="width:200px; padding-left:20px">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="nav-divider"></li>
                    <li><a ui-sref="dashBoard({name:$ctrl.name, condition:'all'})">            All         <span class="label label-success" style="float:right ; background-color:#ff0000">  {{ number.allNumber }} </span> </a></li>
                    <li><a ui-sref="dashBoard({name:$ctrl.name, condition:'inprogress'})">     Inprogress   <span class="label label-success" style="float:right; background-color:#00a9ff"> {{ number.inprogressNumber }} </span></a></li>
                    <li><a ui-sref="dashBoard({name:$ctrl.name, condition:'resolved'})">       Resolved     <span class="label label-success" style="float:right; background-color:#00f868"> {{ number.resolvedNumber}} </span> </a></li>   
                    <li><a ui-sref="dashBoard({name:$ctrl.name, condition:'out_of_date'})">    OutOfDate   <span class="label label-success" style="float:right; background-color:#ff5000">  {{ number.outOfDateNumber}}</span> </a></li>   
                    <li ng-if="$ctrl.name=='mission' || $ctrl.name=='team_request'"><a ui-sref="dashBoard({name:$ctrl.name, condition:'feedback'})"> feedback   <span class="label label-success" style="float:right ; background-color:">  {{ number.feedbackNumber}}</span></a></li>   
                    <li ng-if="$ctrl.name== 'team_request'"><a ui-sref="dashBoard({name:$ctrl.name, condition:'closed'})"> Closed  <span class="label label-success" style="float:right ; background-color:#008bd6">  {{ number.closedNumber }} </span></a></li>   
                </ul>
            </nav>
     
    </div>
</div>


